<!doctype html>
<html ng-app='myApp'>
<head>
    <meta charset="utf-8">
    <title>Simple Tr</title>
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<!--<button ng-controller="ButtonsController" ng-click="check()">
    check
</button>-->


<div>
    <form name="answerForm" ng-submit="save(answer, answerForm)" ng-controller="FormController">

        <label>
            <input type="radio" ng-model="answer.type" ng-value="download">
            Скачать
        </label>
        <label>
            <input type="radio" ng-model="answer.type" value="remember">
            Запомнить
        </label>
        <!--<label>-->
            <!--<input type="radio" ng-model="answer.type" value="downloadandremember">-->
            <!--Скачать и запомнить-->
        <!--</label>-->

        <select id="selectselect" name="selectselect" class="form-control" ng-model="answer.patch">
            <option ng-repeat="item in trlist" value="{{item}}" >{{item}}</option>
        </select>
        <input id="answerAuthor" ng-model="answer.magnet" required placeholder="magnet?=" />
        <input type="submit" id="submit" value="Отправить" />
    </form>

    <p ng-bind="response.text"></p>
    <p ng-bind="response.author"></p>
</div>


<div ng-controller="TableController">

    <p class="telegram">{{telegram}}</p>

    <h1>Актуальные</h1>
    <table class="actual_table">
        <tr class="actual_table_header">
            <td>Название</td>
            <td>Статус</td>
            <td>Завершено, %</td>
            <td class="dir-actual-row">Директория</td>
            <td class="error-row">Ошибка</td>
        </tr>
        <tr  class="actual_tr" ng-repeat="x in actualtrlist">
            <td>{{ x.name }}</td>
            <td>{{ x.status }}</td>
            <td>{{ x.percent }}</td>
            <td>{{ x.directory }}</td>
            <td>{{ x.errorString }}</td>
        </tr>
    </table>

    <h1>Завершенные</h1>
    <table class="done_table">
        <tr class="done_table_header">
            <td>Название</td>
            <td class="dir-done-row">Директория</td>
        </tr>
        <tr  class="done_tr" ng-repeat="x in donetrlist">
            <td>{{ x.name }}</td>
            <td class="dir-done-row">{{ x.directory }}</td>
        </tr>
    </table>

    <h1>Периодичные</h1>
    <table class="periodic_table">
        <tr class="periodic_table_header">
            <td>Название</td>
            <td class="dir-periodic-row">Директория</td>
            <td class="count-row">Скачано</td>
            <td class="delete-row">Удалить</td>
        </tr>
        <tr  class="periodic_tr" ng-repeat="x in periodtrlist">
            <td><a href="{{x.link}}">{{ x.name }}</a></td>
            <td class="dir-periodic-row">{{ x.directory }}</td>
            <td class="count-row">{{ x.count }}</td>
            <td class="delete-row"><button ng-controller="ButtonsController" ng-click="delete(x.name)">
                Удалить
            </button></td>
        </tr>
    </table>
</div>

<script src="/ext/angular.js"></script>
<script type="text/javascript">
    var myApp = angular.module('myApp', []);
</script>

<script src="js/controllers/FormController.js"></script>
<script src="js/controllers/DropdownController.js"></script>
<script src="js/controllers/ButtonsController.js"></script>
<script src="js/controllers/TableController.js"></script>

</body>
</html>