body{
    padding: 0 2em;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
    background: #1D1F20;
}

.actual_table,
.done_table,
.periodic_table{
    width: 100%;
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}

.actual_table_header,
.done_table_header,
.periodic_table_header{
    color: #DD5;
    font-size: 22px;
}

h1{
    font-weight: normal;
    letter-spacing: -1px;
    color: yellow;
    margin: 30px 0 5px 20px;
}

label{
    font-weight: normal;
    letter-spacing: -1px;
    color: yellow;
}

#selectselect{
    margin-left: 20px;
    font-size: 16px;
    width: 150px
}

#answerAuthor{
    font-size: 16px;
    width: 400px
}

.delete-row,
.count-row{
    text-align: center;
}

.telegram{
    color: green;
}

a{
    color: green;
}

/*

.delete-row{
    width: 50px;
    text-align: center;
}
.count-row{
    width: 150px;
    padding: 0 50px;
    text-align: center;
}
.dir-actual-row{
    width: 700px
}
.dir-done-row{
    width: 950px
}
.dir-periodic-row{
    width: 610px
}
.error-row{
    width: 250px;
}*/
